@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #EDEDED; */
}
.overall-contents-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
}


.mini-content-1{
    width: 200px;
    object-fit: cover;
    height: 450px;

}
.mini-content-1 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
        border-radius: 80px;
}
.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mini-content-2{
    width: 150px;
    object-fit: cover;
    height: 300px;

}
.mini-content-2 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
        border-radius: 50px;
}
.mini-content-3{
    width: 150px;
    object-fit: cover;
    height: 150px;

}
.mini-content-3 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
        border-radius: 100%;
}
.content-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-3 h1{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: "playwrite HU", cursive;
    margin: 0;
}
span{
    color: #704F38; 
}
.content-3 p{
    font-size: 0.8rem;
    text-align: center;
    font-family: "playwrite HU", cursive;
    margin: 0;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
button{
    background-color: #704F38; /* Tomato color */
    color: #EDEDED;
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    font-family: "playwrite HU", cursive;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #5a3c2b; /* Darker shade on hover */
}
a{
    color: #704F38;
}
@media screen and (max-width: 600px) {
    .mini-content-1 {
        width: 200px;
    }
    .mini-content-1 img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 400px) {
    .overall-contents-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

    .mini-content-1 {
        width: 150px;
        height: 400px;
    }
    .mini-content-1 img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
    .mini-content-2{
    width: 130px;
    object-fit: cover;
    height: 270px;

}
.mini-content-3{
    width: 130px;
    object-fit: cover;
    height: 130px;

}
}